body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #1BA5FA; 
    color: white;
    padding: 20px;
}

nav {
    background-color: white;
    padding: 10px;
}
nav a, footer a {
    color: #1BA5FA;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover, footer a:hover {
    color: #ffca28; 
    text-decoration: underline; }
section, main {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;margin-top: 20px;
}

table, th, td {
    border: 1px solid black;}

th {
    background-color: #eee;
    padding: 10px;
}

td {
    padding: 8px;
}

/* تنسيق النماذج (Forms) */
input, select, textarea {
    margin: 10px 0;
    padding: 8px;
    width: 90%;}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;}

    
    nav a {display: block;margin: 10px 0;}
}
M0z{
font-size:20px;}